body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* BEGIN (write your solution here) */
#header {
    width: 600px;
    font: 20pt;
    margin-bottom: 32px;
    color: red;
    text-align: center;
}
#main {
    width: 600px;
    font: 15pt;
    margin: 0 20px 0 20px;
}
#footer {
    width: 600px;
    font: 10pt;
    margin-top: 64px;
    text-align: center;
}
h1 {
   font-size: 36px; 
}
h2 {
   font-size: 32px; 
}
h3 {
   font-size: 20px; 
}
/* END */
